body {
  display: flex;
  width: fit-content;
}
.parentBackground {
  display: inline;
  width: 400px;
}
.logoTransparent {
  font-family: cursive;
  font-size: 50px;
  gap: 10px;
  color: white;
  display: flex;
  justify-content: center;
  position: relative;
  bottom: 600px;
  left: 0px;
  background-color: rgba(15, 15, 15, 0.45);
  height: 100px;
  width: 500px;
}
#heady {
  display: block;
  width: 700px;
  height: 250px;
  background-color: rgb(249, 254, 255);
}
input {
  border-radius: 10px;
  border: 0.5px solid black;
  font-size: 0.7em;
  padding: 6px;
  font-weight: 200;
  margin: 10px 0px 10px 0px;
}
input:invalid {
  border: 1px solid red;
  background-color: rgb(253, 238, 238);
}
input:invalid {
  background-color: rgb(223, 232, 253);
  border: 1px solid rgb(8, 5, 211);
}
input:hover {
  background-color: aliceblue;
}
.inputlabel {
  gap: 20px;
  justify-content: space-evenly;
  margin: 10px 0px 0px 20px;
  display: flex;
  width: 400px;
}

#imag {
  display: inline-flex;
  width: 90px;
  height: 90px;
}

#image {
  width: 22px;
  height: 22px;
  margin: 0px 20px 0px 0px;
  position: relative;
  left: 500px;
}
#image:hover {
  background-color: rgb(212, 225, 245);
}
.bckgph {
  width: 500px;
  height: 800px;
}
fill {
  display: block;
}
.lastman {
  display: inline-block;
  width: 700px;
  height: 300px;
  background-color: rgb(249, 254, 255);
}
button:hover {
  background-color: aliceblue;
}
button {
  border-radius: 8px;
  color: black;
  background-color: blue;
  padding: 5px;
  width: 150px;
  font-size: large;
  font-weight: 200;
  display: flex;
  margin: 15px 0px 20px 50px;
}
.login {
  margin: 0px 0px 0px 50px;
}

label {
  display: block;
  font-size: 12px;
}
